 <style>

</style> 

<div ng-cloak>
  <md-content>
   <md-toolbar class="md-hue-2">
      <div class="md-toolbar-tools">
        <md-button class="md-icon-button" aria-label="Settings" >
          <md-icon md-svg-icon="img/icons/menu.svg"></md-icon>
        </md-button>

        <h2 flex md-truncate> Bonjour {{infos_club.nom}}</h2>
        <md-button  ng-click="deconnecterClub()" >Déconnexion
        </md-button>
 
        <md-button class="md-icon-button" ng-click="deconnecterClub()"  aria-label="More">    
          <md-icon md-svg-icon="img/icons/ic_close_24px.svg"></md-icon>
        </md-button>

      </div>
    </md-toolbar>
  
    <md-tabs md-dynamic-height md-border-bottom>

      <md-tab label="Gestion des terrains">
        <md-content class="md-padding">
  
         
   
      <h2>Nombre de terrains : {{infos_club.nombre_terrains}}</h2>
          <input type="text" class="form-control" placeholder="Filtrer ..." ng-model="searchText">
          <br>

          <md-table-container>
  <table md-table md-row-select multiple  md-progress="promise">
    <thead md-head md-order="query.order" md-on-reorder="getDesserts">
      <tr md-row>
        <th md-column md-order-by="nameToLower"><span>Nom</span></th>
        <th md-column md-order-by="nameToLower"><span>Type</span></th>
        <th md-column md-order-by="nameToLower"><span>Action</span></th>
        <th md-column md-order-by="nameToLower"><span>Supression</span></th>
       
        
      </tr>
    </thead>
    <tbody md-body>
      <tr md-row md-select="creneau" md-select-id="terrain.nom" md-auto-select ng-repeat="terrain in terrains | filter:searchText">
        <td md-cell>{{terrain.nom}}</td>
        <td md-cell> {{ terrain.type }}  </td>
        <td md-cell><a href="" ng-click="afficherPlanning(terrain.nom)" > Gérer Planning</a></td>
        <td md-cell>  <a href="" ng-click="supprimerTerrain(terrain.nom)"  > Supprimer</a></td>
        </tr> 
          
       
      
    </tbody>
  </table>
</md-table-container>

   
       
     
      <h3>Ajouter un terrain </h3>
       <form name="projectForm">

       <md-input-container class="md-block">
        <label>Nom</label>
        <input ng-model= "terrainnew.nom" type="text">
        <div ng-messages="projectForm.description.$error">
          <div ng-message="required">Champ requis</div>
           </div>
      </md-input-container>
          <md-input-container class="md-block">
        <label>Type</label>
        <input ng-model= "terrainnew.type" placeholder="Type ( Ex: Terre Battue)" type="text">
        <div ng-messages="projectForm.description.$error">
          <div ng-message="required">Champ requis</div>
          </div>
      </md-input-container>

       <div>
        <md-button class="md-raised md-primary" type="submit" ng-click="ajouterTerrain()">Ajouter terrain</md-button>
      </div>

     
    </form>
 
        </md-content>
      </md-tab>
      <md-tab label="Gestion des adhérents" >
        <md-content class="md-padding">
        <div ng-controller="gestionAdherentsCtrl">
        <!-- Début ajout -->

         <h3 >Nombre d'adhérents : {{infos_club.nombre_adherents}}</h3>
          
          <input type="text" class="form-control" placeholder="Filtrer ..." ng-model="searchText">
        <br>


  <md-table-container>
  <table md-table  md-progress="promise">
    <thead md-head md-order="query.order" md-on-reorder="getDesserts">
      <tr md-row>
        <th md-column md-order-by="nameToLower"><span>Nom</span></th>
        <th md-column md-order-by="adherent.prenom"><span>Prenom</span></th>
        <th md-column md-order-by="nameToLower"><span>Année de naissance</span></th>
        <th md-column md-order-by="nameToLower"><span>E-mail</span></th>
        <th md-column md-order-by="nameToLower"><span>Compte activé</span></th>
        <th md-column md-order-by="nameToLower"><span>Action</span></th>
        
       
        
      </tr>
    </thead>
    <tbody md-body>
      <tr md-row  ng-repeat="adherent in adherents| filter:searchText">
       <td md-cell>{{adherent.nom}}</td>
        <td md-cell>{{adherent.prenom}}</td>
         <td md-cell>{{adherent.birthday}}</td>
         <td md-cell>{{adherent.email}}</td>
         <td md-cell>{{adherent.adherent_active}}</td>
          <td md-cell ng-show="adherent.adherent_active == 'non'">
        <a ng-click="activationAdherent(adherent.cid,adherent.adherent_active)"  href=""> Activer    
        </a> </td>
         <td md-cell ng-show="adherent.adherent_active == 'oui'"><a ng-click="activationAdherent(adherent.cid,adherent.adherent_active)"  href=""> Désactiver     
         </a> </td>

        </tr> 
          
       
      
    </tbody>
  </table>
</md-table-container>


       
       
        </div>
      
        </md-content>
      </md-tab>

      <md-tab label="Informations Club" >
        <md-content class="md-padding">
        <div ng-controller="gestionAdherentsCtrl">

          <h2>Informations Club </h2>
         <md-table-container>
  <table md-table md-row-select multiple ng-model="selected" md-progress="promise">
 
    <tbody md-body>
 
         <tr md-row><td md-cell>Nom </td><td md-cell> {{infos_club.nom}} </td></tr>
             <tr md-row><td md-cell>Ville </td><td md-cell> {{infos_club.ville}} </td></tr>
      <tr md-row><td md-cell>Email </td><td md-cell>{{infos_club.email}}</td></tr>
      <tr md-row><td md-cell>Nombre d'adhérents </td><td md-cell>{{infos_club.nombre_adherents}}</td></tr>

          
    
    </tbody>
  </table>
</md-table-container>
 <br><br>
        <form  >
       <div>
          <md-button class="md-raised md-primary" type="submit" ng-click="modifierMdp()" >Modifier mot de passe</md-button>
        </div>
      </form>
    
       
        <p> {{log }}</p>
        </div>
      
        </md-content>
      </md-tab>
   
    </md-tabs>
  </md-content>
</div>


			
		