<div ng-cloak>
  <md-content>
   <md-toolbar class="md-hue-2">
      <div class="md-toolbar-tools">
      <md-button class="md-icon-button" aria-label="Settings" >
          <md-icon md-svg-icon="img/icons/menu.svg"></md-icon>
        </md-button>

      
        <h2 flex md-truncate> Interface administrateur</h2>
        <md-button  ng-click="deconnecterAdmin()" >Déconnexion
        </md-button>
 
        <md-button class="md-icon-button" ng-click="deconnecterAdmin()"  aria-label="More">    
          <md-icon md-svg-icon="img/icons/ic_close_24px.svg"></md-icon>
        </md-button>

      </div>
    </md-toolbar>

      <md-tabs md-dynamic-height md-border-bottom>

      <md-tab label="Gestion des clubs">
        <md-content class="md-padding">

			<div class="container" >
		
			<h3>Nombre de clubs : {{nb_clubs}}</h3>
			<input type="text" class="form-control" placeholder="Filtrer ..." ng-model="searchText">

      <md-table-container>
  <table md-table  md-progress="promise">
    <thead md-head md-order="query.order" md-on-reorder="getDesserts">
      <tr md-row>
        <th md-column md-order-by="nameToLower"><span>Nom</span></th>
        <th md-column md-order-by="nameToLower"><span>Club Activé</span></th>
        <th md-column md-order-by="nameToLower"><span>Action</span></th>
        
       
        
      </tr>
    </thead>
    <tbody md-body>
      <tr md-row ng-repeat="club in filteredClubs | filter:searchText">
      <td md-cell> {{ club.nom }} </td>
      <td md-cell > {{ club.club_active }}  </td>
      <td md-cell ng-show="club.club_active == 'non'">
      <a ng-click="activationClub(club.nom,club.club_active)"  href=""> Activer</a> </td>
      <td md-cell ng-show="club.club_active == 'oui'"><a ng-click="activationClub(club.nom,club.club_active)"  href=""> Désactiver</a> </td></tr>  
          
       
      
    </tbody>
  </table>
</md-table-container>		
			
			</div>
     </md-content>
      </md-tab>

      <md-tab label="Gestion des adhérents" >
        <md-content class="md-padding">

          </md-content>
      </md-tab>

 </md-content>
</div>

