 <div ng-controller="MainCtrl" ng-cloak>

   <md-toolbar class="md-hue-2">
      <div class="md-toolbar-tools">
        <md-button class="md-icon-button" aria-label="Settings" >
          <md-icon md-svg-icon="img/icons/menu.svg"></md-icon>
        </md-button>

        <h2 flex md-truncate> MyTennis Application</h2>
       
        <md-button  ng-click="acceuil()" >Accueil
        </md-button>
        <md-button  ng-click="club()">Club
        </md-button>
         <md-button ng-click="commencer()">Adhérent
        </md-button>
          <md-button class="md-raised md-warn" ng-click="commencer()">Connexion
        </md-button>
 
        <md-button class="md-icon-button" ng-click="commencer()"  aria-label="More">    
          <md-icon md-svg-icon="img/icons/launch.svg"></md-icon>
        </md-button>

      </div>
    </md-toolbar>
  </div>
   
   
<div class="container" style="padding-top: 20px;">
				

			<p> {{log }}</p>
			
 </div>
			
		