
  

      <div class="container" id="directives-calendar" ng-controller="gestionPlanningClubCtrl">


         <md-toolbar class="md-hue-2">
      <div class="md-toolbar-tools">
        <md-button class="md-icon-button" aria-label="Settings" >
          <md-icon md-svg-icon="img/icons/menu.svg"></md-icon>
        </md-button>

        <h2 flex md-truncate> Planning {{nom_terrain}}</h2>
          <md-button  ng-click="retour()">Retour 
        </md-button>

 

        <md-button class="md-icon-button" ng-click="retour()" aria-label="More">
          <md-icon md-svg-icon="img/icons/ic_arrow_back_24px.svg"></md-icon>
        </md-button>
      </div>
    </md-toolbar>


          
            <div class="well">

                <div class="row-fluid">


                    <div class="span8">
                        <tabset>
                            <tab select="renderCalendar('myCalendar1');">
                              
                              <div class="alert-success calAlert" ng-show="alertMessage != undefined && alertMessage != ''">
                                <h4>{{alertMessage}}</h4>
                              </div>
                              <div class="btn-toolbar">
                                <p class="pull-right lead"></p>
                                <div class="btn-group">
                                    <button class="btn btn-success" ng-click="changeView('agendaDay', 'myCalendar1')">Jour</button>
                                    <button class="btn btn-success" ng-click="changeView('agendaWeek', 'myCalendar1')">Semaine</button>
                                    <button class="btn btn-success" ng-click="changeView('month', 'myCalendar1')">Mois</button>
                                </div>
                              </div>
                            <div class="calendar" ng-model="eventSources" calendar="myCalendar1" ui-calendar="uiConfig.calendar"></div>
                           </tab>
                          
                        </tabset>
                    </div>
                </div>
          
    </div>
</div>
        <script type="text/javascript">
            var _gaq = _gaq || [];
            _gaq.push(['_setAccount', 'UA-17352735-3']);
            _gaq.push(['_trackPageview']);
            (function () {
                var ga = document.createElement('script');
                ga.type = 'text/javascript';
                ga.async = true;
                ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
                var s = document.getElementsByTagName('script')[0];
                s.parentNode.insertBefore(ga, s);
            })();
        </script>
        
   
    <script src="../../src/calendar.js"></script>
  



