 <div ng-controller="MainCtrl" ng-cloak>
 <md-fab-toolbar md-open="demo.isOpen" count="demo.count"
                  md-direction="{{demo.selectedDirection}}">
    <md-fab-trigger class="align-with-text">
      <md-button aria-label="menu" class="md-fab md-primary">
        <md-icon md-svg-src="img/icons/menu.svg"></md-icon>
      </md-button>
    </md-fab-trigger>

    <md-toolbar>
      <md-fab-actions class="md-toolbar-tools">
    
        <md-button class="md-raised" ng-click="acceuil()" >Accueil
        </md-button>
        <md-button class="md-raised" ng-click="club()">Club
        </md-button>
         <md-button class="md-raised" ng-click="commencer()">Adhérent
        </md-button>
          <md-button class="md-raised md-warn" ng-click="commencer()">Connexion
        </md-button>
      </md-fab-actions>
    </md-toolbar>
  </md-fab-toolbar>
  </div>
   
<div class="container" style="padding-top: 20px;">
	<div class="container-fluid" ng-controller="connexionAdherentCtrl">			
		
	  	<h1>Connexion Adhérent </h1>


    <form name="projectForm">
     <md-input-container>
          <label>Choisir Club</label>
          <md-select  ng-model="adherent.club" >
            <md-option ng-repeat="club in clubs" ng-value="club.nom" ng-disabled="$index === 0">
              {{club.nom}}
            </md-option>
          </md-select>
        </md-input-container>
   
      <md-input-container class="md-block">
        <label>Email</label>
        <input ng-model="adherent.email" type="email">
        <div ng-messages="projectForm.description.$error">
          <div ng-message="required">Champ requis</div>
           </div>
      </md-input-container>
          <md-input-container class="md-block">
        <label>Mot de passe</label>
        <input  ng-model="adherent.mdp" type="password">
        <div ng-messages="projectForm.description.$error">
          <div ng-message="required">Champ requis</div>
          </div>
      </md-input-container>

      <div>
        <md-button type="submit" ng-click="connecterAdherent()">Connexion</md-button>
      </div>

     
    </form>

		 
			<p> {{log }}</p>

			<a href="/#/inscriptionAdherent">S'inscrire ...</a>
			
	</div> </div>
			
		