  <div ng-cloak>
  <md-content>

 <div ng-controller="MainCtrl" ng-cloak>

   <md-toolbar class="md-hue-2">
      <div class="md-toolbar-tools">
        <md-button class="md-icon-button" aria-label="Settings" >
          <md-icon md-svg-icon="img/icons/menu.svg"></md-icon>
        </md-button>

        <h2 flex md-truncate> MyTennis Application</h2>
       
        <md-button  ng-click="acceuil()" >Accueil
        </md-button>
        <md-button  ng-click="club()">Club
        </md-button>
      
          <md-button  ng-click="commencer()">Connexion
        </md-button>
 
        <md-button class="md-icon-button" ng-click="commencer()"  aria-label="More">    
          <md-icon md-svg-icon="img/icons/launch.svg"></md-icon>
        </md-button>

      </div>
    </md-toolbar>
  </div>

	<div  ng-controller="connexionAdherentCtrl" ng-cloak>			
		
	  	<h2>Connexion Adhérent </h2>


    <form name="projectForm">
     <md-input-container>
          <label>Choisir Club</label>
          <md-select  ng-model="adherent.club" required >
            <md-option ng-repeat="club in clubs" ng-value="club.nom" ng-disabled="$index === 0">
              {{club.nom}}
            </md-option>
          </md-select>
        </md-input-container>
   
      <md-input-container class="md-block">
        <label>Email</label>
        <input ng-model="adherent.email" type="email" required>
        <div ng-messages="projectForm.description.$error">
          <div ng-message="required">Champ requis</div>
           </div>
      </md-input-container>
          <md-input-container class="md-block">
        <label>Mot de passe</label>
        <input  ng-model="adherent.mdp" type="password" required>
        <div ng-messages="projectForm.description.$error">
          <div ng-message="required">Champ requis</div>
          </div>
      </md-input-container>

      <div>
        <md-button class="md-raised md-primary" type="submit" ng-click="connecterAdherent()">Connexion</md-button>
      </div>

     
    </form>

		 
			<p> {{log }}</p>
      <md-button ng-href="/#/inscriptionAdherent" >S'inscrire</md-button>

			
	</div> 

  </md-content>
  </div>
			
		