 <div ng-controller="MainCtrl" ng-cloak>

   <md-toolbar class="md-hue-2">
      <div class="md-toolbar-tools">
        <md-button class="md-icon-button" aria-label="Settings" >
          <md-icon md-svg-icon="img/icons/menu.svg"></md-icon>
        </md-button>

        <h2 flex md-truncate> MyTennis Application</h2>
       
        <md-button  ng-click="acceuil()" >Accueil
        </md-button>
        <md-button  ng-click="club()">Club
        </md-button>
         <md-button ng-click="commencer()">Adhérent
        </md-button>
          <md-button class="md-raised md-warn" ng-click="commencer()">Connexion
        </md-button>
 
        <md-button class="md-icon-button" ng-click="commencer()"  aria-label="More">    
          <md-icon md-svg-icon="img/icons/launch.svg"></md-icon>
        </md-button>

      </div>
    </md-toolbar>
  </div>
   
   
<div class="container" style="padding-top: 20px;">
	<div class="container-fluid" ng-controller="connexionClubCtrl">			
		
	  	<h1>Connexion Club </h1>
       <form name="projectForm">

       <md-input-container class="md-block">
        <label>Email</label>
        <input ng-model="club.email" type="email">
        <div ng-messages="projectForm.description.$error">
          <div ng-message="required">Champ requis</div>
           </div>
      </md-input-container>
          <md-input-container class="md-block">
        <label>Mot de passe</label>
        <input ng-model="club.mdp" type="password">
        <div ng-messages="projectForm.description.$error">
          <div ng-message="required">Champ requis</div>
          </div>
      </md-input-container>

       <div>
        <md-button class="md-raised md-primary" type="submit" ng-click="connecterClub()">Connexion</md-button>
      </div>

     
    </form>

			<p> {{log }}</p>
       <md-button ng-href="/#/inscriptionClub" >S'inscrire</md-button>

			
	</div> </div>
			
		