<!-- Header -->
        <header id="header">
          <h1 id="logo"><a href="">Bonjour {{nom}}</a></h1>
          <nav id="nav">
            <ul>
             
              <li>
                <a href="/#/gestionClub">Gestion des terrains</a>
                
              </li>
              <li><a href="/#/gestionAdherents">Gestion des adhérents</a></li>
              <li> <a href="" ng-click="deconnecterClub()" class="button special">Déconnexion</a></li>
            </ul>
        
          </nav>
       </header>
		 <section id="banner2"> </section>

			<div class="container" style="padding-top: 20px;">
		
        <h1>Nombre d'adhérents : {{nb_adherents}}</h1>
          <input type="text" class="form-control" placeholder="Filtrer ..." ng-model="searchText">
        <table>
      <tr><td>Nom </td><td> Prénom </td><td> Année de naissance </td><td> E-mail </td><td>Compte activé</td><td>Action </td><td>Suppression</td></tr>
        <tr ng-repeat="adherent in adherents | filter:searchText"><td> {{ adherent.nom }} </td><td> {{ adherent.prenom }}  </td><td> {{ adherent.birthday }}  </td><td> {{ adherent.email}}  </td><td> {{ adherent.adherent_active}}  </td>
        <td ng-show="adherent.adherent_active == 'non'">
  			<a ng-click="activerAdherent(adherent.cid)"  href=""> Activer    
        </a> </td>
         <td ng-show="adherent.adherent_active == 'oui'"><a ng-click="desactiverAdherent(adherent.cid)"  href=""> Désactiver     
         </a> </td>
         <td><a ng-click="supprimerAdherent(adherent.cid)"  href="">Supprimer</a></td>

             </tr> 

      </table>
      </br>
       
<p> {{log }}</p>
			
			
			</div>
			
		