<!-- Header -->
        <header id="header">
          <h1 id="logo"><a href="/#!/accueilAdherent">Bonjour {{prenom}}</a></h1>
          <nav id="nav">
            <ul>
            <li><a href="/#!/accueilAdherent">Réserver</a></li>
              <li><a href="/#!/mesReservations">Mes réservations</a></li>
              <li>
                <a href="/#!/mesInformations">Mes Informations</a></li>
              <li> <a href="" ng-click="deconnecterAdherent()" class="button special">Déconnexion</a></li>
            </ul>
        
          </nav>
       </header>
		 <section id="banner2"> </section>

<div class="container" style="padding-top: 20px;">
	<div class="container-fluid" ng-controller="accueilAdherentCtrl">

		<h1>Informations Adhérent </h1>
        <table>
      <tr><td>Nom </td><td> {{infos.nom}} </td><td><a>Modifier </a></td></tr>
      <tr><td> Prénom </td><td>{{infos.prenom}}</td><td><a>Modifier </a></td></tr>
      <tr><td> Date de naissance </td><td>{{infos.birthday}}</td><td><a>Modifier </a></td></tr>
      <tr><td> Mot de passe </td><td> ************</td><td><a>Modifier </a></td></tr>



      </table>
		  	
    <form role="form"  >
        <div class="input-group">
          <input type="submit" class="form-control" ng-click="modifierMdp()" value="Modifier mon Mot de passe"/>
        </div>    
    </form>


	</div> 
</div>

			
		