 <div ng-cloak>

   <md-toolbar class="md-hue-2">
     <div class="md-toolbar-tools">
    

        <h2 flex md-truncate> MyTennis </h2>
       
        <md-button  ng-href="/#/" >Accueil 
        </md-button>
        <md-button  ng-href="/#/connexionClub">Club
        </md-button>
       
          
 
        <md-button class="md-icon-button" ng-href="/#/connexionAdherent" aria-label="More">    
          <md-icon md-svg-icon="img/icons/launch.svg"></md-icon>
        </md-button>

      </div>
    </md-toolbar>
  </div>

<div class="container" style="padding-top: 20px;">
			<div class="container-fluid" ng-controller ="inscriptionClubCtrl">

			
			<h1>Inscription Club </h1>
			  	
				<form name="projectForm">

					  <md-input-container class="md-block">
				        <label>Nom</label>
				        <input ng-model="club.nom" type="text">
				        <div ng-messages="projectForm.description.$error">
				          <div ng-message="required">Champ requis</div>
				           </div>
				      </md-input-container>

				     
				      <md-input-container class="md-block">
				        <label>Ville</label>
				        <input ng-model="club.ville" type="text">
				        <div ng-messages="projectForm.description.$error">
				          <div ng-message="required">Champ requis</div>
				           </div>
				      </md-input-container>

 					  <md-input-container class="md-block">
				        <label>Téléphone</label>
				        <input ng-model="club.tel" type="text">
				        <div ng-messages="projectForm.description.$error">
				          <div ng-message="required">Champ requis</div>
				           </div>
				      </md-input-container>

				      <md-input-container class="md-block">
				        <label>Email</label>
				        <input ng-model="adherent.email" type="email">
				        <div ng-messages="projectForm.description.$error">
				          <div ng-message="required">Champ requis</div>
				           </div>
				      </md-input-container>
				      
				      <md-input-container class="md-block">
				        <label>Mot de passe</label>
				        <input ng-model="club.mdp" type="password" id="mdp1" oninput="checkPasswords()" >
				        <div ng-messages="projectForm.description.$error">
				          <div ng-message="required">Champ requis</div>
				          </div>
				      </md-input-container>

				      <md-input-container class="md-block">
				        <label>Confirmer Mot de passe</label>
				        <input ng-model="club.mdpconf" type="password" id="mdp2" oninput="checkPasswords()">
				        <div ng-messages="projectForm.description.$error">
				          <div ng-message="required">Champ requis</div>
				          </div>
				      </md-input-container>

				       	<div>
				        	<md-button class="md-raised md-primary" type="submit" ng-click="inscrireClub()">S'inscrire</md-button>
				      	</div>

				     
				    </form>
<!--
					<form  role="form">
					<div class="input-group">

					<input type="text" class="form-control"   ng-model="club.nom" name="nom"  placeholder="Nom"  required ng-minlength="2" ng-maxlength="20"/>
					<input type="text" class="form-control" ng-model="club.ville" name="ville"  placeholder="Ville"  ng-maxlength="30" required />  
					<input type="email" class="form-control" ng-model="club.email" name="email"  placeholder="Email" required />  
					<input type="password" class="form-control"  ng-model="club.mdp" id="mdp1" name="mdp_club" oninput="checkPasswords()" placeholder="Mot de passe" required /> 	
					<input type="password" class="form-control"   name="mdp_club2"  id="mdp2" oninput="checkPasswords()" placeholder="Confirmer mot de passe" required /> 				
						
					<input class="form-control" type="submit" ng-click="inscrireClub()" value="S'inscrire" />

					</div>
					</form>

					-->
				<p> {{log }}</p>


			
			</div> </div>
			<script>
			function checkPasswords() {
			  var password1 = document.getElementById('mdp1');
			  var password2 = document.getElementById('mdp2');
			  if (password1.value != password2.value) {
			    password2.setCustomValidity('Les mots de passe ne sont pas identiques');
			  } else {
			    password2.setCustomValidity('');
			  }
			}
			</script>
			
			