<!-- Header -->
        <header id="header">
          <h1 id="logo"><a href="/#!/accueilAdherent">Bonjour {{prenom}}</a></h1>
          <nav id="nav">
            <ul>
            <li><a href="/#!/accueilAdherent">Réserver</a></li>
              <li><a href="/#!/mesReservations">Mes réservations</a></li>
              <li>
                <a href="/#!/mesInformations">Mes Informations</a></li>
              <li> <a href="" ng-click="deconnecterAdherent()" class="button special">Déconnexion</a></li>
            </ul>
        
          </nav>
       </header>
		 <section id="banner2"> </section>

<div class="container" style="padding-top: 20px;">
	<div class="container-fluid" ng-controller="accueilAdherentCtrl">

		<h1>Réservations </h1>

		  
        <table>
      <tr><td>Intitulé </td><td> Début </td><td> Fin </td><td> Terrain </td> </tr>
       <tr ng-repeat="creneau in creneaux "><td> {{ creneau.intitule}} </td><td> {{ creneau.start }}  </td><td> {{ creneau.end }}  </td><td> {{creneau.terrain_nom}} </tr> 

      </table>
			
	</div> 
</div>

			
		